<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>System Analyser</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='output-page.css') }}">
</head>

<body>
    <div class="section">
        <input type="checkbox" id="check">
        <div class="navbar">
            <div class="logo">
                <h2>system analyser</h2>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="/">home</a></li>
                    <li><a href="/members">dev</a></li>
                </ul>
            </div>
            <label for="check">
                <i class="fas fa-bars menu-btn"></i>
                <i class="fas fa-times close-btn"></i>
            </label>
        </div>
        <div class="output">
            {% if output %}
            <div class="output-box">
                <h1>Analysis Result</h1>
                <div class="results">
                    <p id="title">Standard Error of the Estimate:</p>
                    <p>{{ output.standard_error }}</p>

                    <p id="title">Correlation Coefficient:</p>
                    <p>{{ output.correlation_coefficient }}</p>

                    <p id="title">Description of Correlation Coefficient:</p>
                    <p>{{ output.correlation_description }}</p>

                    <p id="title">Regression Line Equation:</p>
                    <p>y = {{ output.equation.intercept }} {% for i in range(output.equation.num_vars) %}
                        + {{ output.equation.coef[i] }} * {{ output.independent_vars[i] }} 
                    {% endfor %}
                    </p>

                    <p id="title">Predicted Future Values:</p>
                    <p>{{ output.predictions }}</p>
                </div>
            </div>
            <div class="plot-box">
                <h2>Scatter Plot</h2>
                <div class="plot-images">
                    {% for plot_url in output.plot_urls %}
                    <img src="data:image/png;base64,{{ plot_url }}" alt="Plot">
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</body>
</html>
